{\rtf1\ansi\ansicpg1252\cocoartf2706
\cocoatextscaling0\cocoaplatform0{\fonttbl\f0\fnil\fcharset0 Menlo-Regular;}
{\colortbl;\red255\green255\blue255;\red25\green28\blue31;\red0\green0\blue0;}
{\*\expandedcolortbl;;\cssrgb\c12941\c14510\c16078;\cssrgb\c0\c0\c0\c10196;}
\paperw11900\paperh16840\margl1440\margr1440\vieww11520\viewh8400\viewkind0
\deftab720
\pard\pardeftab720\partightenfactor0
\f0\fs28 \cf2 \cb3 \expnd0\expndtw0\kerning0
\outl0\strokewidth0 \strokec2 AddOutputFilterByType DEFLATE text/html\
 AddOutputFilterByType DEFLATE text/css\
 AddOutputFilterByType DEFLATE text/javascript\
 AddOutputFilterByType DEFLATE text/xml\
 AddOutputFilterByType DEFLATE text/plain\
 AddOutputFilterByType DEFLATE image/x-icon\
 AddOutputFilterByType DEFLATE image/svg+xml\
 AddOutputFilterByType DEFLATE application/rss+xml\
 AddOutputFilterByType DEFLATE application/javascript\
 AddOutputFilterByType DEFLATE application/x-javascript\
 AddOutputFilterByType DEFLATE application/xml\
 AddOutputFilterByType DEFLATE application/xhtml+xml\
 AddOutputFilterByType DEFLATE application/x-font\
 AddOutputFilterByType DEFLATE application/x-font-truetype\
 AddOutputFilterByType DEFLATE application/x-font-ttf\
 AddOutputFilterByType DEFLATE application/x-font-otf\
 AddOutputFilterByType DEFLATE application/x-font-opentype\
 AddOutputFilterByType DEFLATE application/vnd.ms-fontobject\
 AddOutputFilterByType DEFLATE font/ttf\
 AddOutputFilterByType DEFLATE font/otf\
 AddOutputFilterByType DEFLATE font/opentype\
 # For Older Browsers Which Can't Handle Compression\
 BrowserMatch ^Mozilla/4 gzip-only-text/html\
 BrowserMatch ^Mozilla/4\\.0[678] no-gzip\
 BrowserMatch \\bMSIE !no-gzip !gzip-only-text/html\
 </IfModule>\
}